<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Search</h1>
    <div class="buttons">
      <button class="button button-clear pr10" ng-click="closeSearch()"><i class="material-icons assertive">power_settings_new</i></button>
    </div>
  </ion-header-bar>
  <ion-content class="bg-light-gray">
    <form ng-submit="doSearch()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Terms to search</span>
          <input type="text" ng-model="searchData.terms">
        </label>
       
        <label class="item">
          <button ng-disabled="!searchData.terms" class="button button-block button-assertive" type="submit">Search</button>
        </label>          
            <a class="button button-clear button-energized button-block" ng-click="closeSearch()">Close</a>
      </div>
    </form>
  </ion-content>
</ion-modal-view>