<ion-view view-title="{{searchTerms}}">
    

    
    <ion-content class="n0-padding">

        <div ng-show="!ItemsResutlts.length" class="text-center padding pt120 pb120 bg-assertive">
            <h1 class="light">No results</h1>
            <h3 class="light pb120">for your search</h3>
            <h1 class="pb120 mb120"><i class="material-icons font-extra energized">mood_bad</i></h1>
            
        </div>
        
        
        
        <a class="item-box block relative pt120 pb120 mb5 text-center" ng-repeat="item in ItemsResutlts" href="#/app/item/{{item.id}}" style="background: url({{item.picture}}) no-repeat center center;">
                <h5 ng-show="item.featured == true" class="overlay-lt bg-dark energized p5 fw600 cap">{{item.name | limitTo:40}}</h5>
                <h5 ng-show="item.staffPicked == true" class="overlay-lt bg-dark balanced p5 fw600 cap">{{item.name | limitTo:40}}</h5>
                <h5 ng-show="item.featured == false && item.staffPicked == false" class="overlay-lt light bg-dark p5 fw600 cap">{{item.name | limitTo:40}}</h5>
                <h5 class="overlay-rt light bg-assertive p5 fw400">$ {{item.price}}</h5>
                <h6 class="overlay-lb dark bg-light p5 fw400 cap">{{item.location | limitTo:40}}</h6> 
            </a>
        
        

  
    <a ng-show="pagenext < ResultsLength" ng-click="nextPage()" class="button button-clear button-block">
        <i class="icon ion-ios-refresh-outline"></i>
    </a>
  </ion-content>
    
</ion-view>