<ion-view view-title="Favourites">
    <ion-content class="padding">
        <div class="list">
            <div class="text-center item" ng-hide="FavItems.length">You have no favourites.</div>
            <div class="item row" ng-repeat="item in FavItems"> 
                <div class="col col-20">
                    <a class="material-icons balanced" href="#/app/item/{{item.id}}">pageview</a>
                </div>
                <div class="col col-70">
                    {{item.name}}                       
                </div>
                <div class="col col-10">
                    <i class="material-icons assertive" ng-click="removeFavourite(item.id)">clear</i>    
                </div>
        </div>
  </ion-content>
</ion-view>